<app-navbar></app-navbar>
<div class="page-wrapper" *ngIf="aboutToSave">
  <div class="content container-fluid">
    <div class="mat-elevation-z8">
      <div class="classfix">
      <mat-card>
        <form [formGroup]="form">
          <mat-card-content>
            <div class="panel-heading">
              <div class="row topTier">
                <h3 id="sectionalHeader">Map Doc's to Patient</h3>
              </div>
            </div>
            <mat-divider></mat-divider>
            <div class="panel-body">
              <div class="table-responsive">
                <div class="row">
                  <label id="practice">Select Practice :</label>
                  <mat-form-field class="col-3">
                    <mat-select placeholder="Select Practice" formControlName="practice" [ngClass]="{ 'isDisabled': isActive }"
                      [(ngModel)]="practice" (selectionChange)="practiceSelection($event.value)">
                      <mat-option [value]="practice" *ngFor="let practice of newpractice">{{practice.practiceName}}</mat-option>

                    </mat-select>
                  </mat-form-field>
                  <mat-form-field class="col-3">
                    <mat-select placeholder="Select Doctor" formControlName="doctor" [(ngModel)]="doctor" [ngClass]="{ 'isDisabled': isActive }">
                      <mat-option [value]="doctor" *ngFor="let doctor of user">{{doctor.firstName}}</mat-option>
                    </mat-select>
                  </mat-form-field>
                  <div class="row topTier">
                    <div class="sectionalInput">
                      <div id="uploadButton">
                        <input id="upbtn" type="file" id="file" (change)="handleFileInput($event.target.files)" accept=".pdf"
                          style="border:2px solid gray;">
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <label>Search Patient &nbsp;:</label>
                  <mat-form-field class="col-2">
                    <mat-select placeholder="Search by" formControlName="searchBy" [(ngModel)]="searchBy"
                      (selectionChange)="priorityValue($event.value)">
                      <mat-option value="patientId">Patient ID</mat-option>
                      <mat-option value="firtName">First Name</mat-option>
                      <mat-option value="lastName">Last Name</mat-option>
                    </mat-select>
                  </mat-form-field>
                  <mat-form-field class="col-2">
                    <input matInput placeholder="Enter Search Value" (keyup)="applyFilter($event.target.value)"
                      formControlName="searchValue" [(ngModel)]="searchValue">
                  </mat-form-field>
                  <mat-form-field class="col-2">
                    <mat-select #searchselect (openedChange)="openedChangefilter($event)" id="applyfilter" placeholder="Patients List"
                      [(ngModel)]="patientItem" (selectionChange)="selectedPatientValue($event.value)" [ngClass]="{ 'isDisabled': isActive }"
                      formControlName="patientItem">
                      <mat-option [value]="patientItem" *ngFor="let patientItem of patient ">
                        {{patientItem.patientCode}}--{{patientItem.firstName}}</mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
                <div class="row" #stickyMenu [class.sticky]="sticky">
                  <label id="documentType">Document Type : </label>
                  <mat-form-field class="col-2">
                    <mat-select placeholder="Select Document Type" [ngClass]="{ 'isDisabled': isActive }"
                      formControlName="documentTypes" [(ngModel)]="documentTypes">
                      <mat-option value="Claims Appeals">Claims Appeals</mat-option>
                      <mat-option value="Claims Form">Claims Form</mat-option>
                      <mat-option value="Clinical Tax Records">Clinical Tax Records</mat-option>
                      <mat-option value="EOB's">EOB's</mat-option>
                      <mat-option value="Mail Confirmations">Mail Confirmations</mat-option>
                    </mat-select>
                  </mat-form-field>
                  <label>Date of Service :</label>
                  <mat-form-field class="col-2">
                    <input matInput [matDatepicker]="DOSfrom" (focus)="DOSfrom.open()" [ngClass]="{ 'isDisabled': isActive }"
                      placeholder="Select From DOS" formControlName="dosFrom" [(ngModel)]="dosFrom">
                    <mat-datepicker-toggle matSuffix [for]="DOSfrom"></mat-datepicker-toggle>
                    <mat-datepicker #DOSfrom></mat-datepicker>
                  </mat-form-field>
                  <mat-form-field class="col-2">
                    <input matInput [matDatepicker]="DOSto" (focus)="DOSto.open()" [ngClass]="{ 'isDisabled'  : isActive }"
                      placeholder="Select To DOS" formControlName="dosTo" [(ngModel)]="dosTo">
                    <mat-datepicker-toggle matSuffix [for]="DOSto"></mat-datepicker-toggle>
                    <mat-datepicker #DOSto></mat-datepicker>
                  </mat-form-field>
                  <button class="mat-raised-button primaryColor" id="addBtn" (click)="add()" *ngIf="addAndUpdate &&  patientItem">Add</button>
                  <button class="mat-raised-button primaryColor" id="addBtn" (click)="updateMapDoc()" *ngIf="!addAndUpdate">UPDATE</button>
                  <button class="mat-raised-button dangerColor" id="cancelBtn" (click)="Cancel()" *ngIf="!addAndUpdate">cancel</button>
                  <button class="mat-raised-button primaryColor" type="button" id="saveBtn" (click)="save()" *ngIf="mapAddDoc.length>0">Save
                    All</button>
                </div>
                <div class="row">
                  <table #table mat-table *ngIf="dataSource" [dataSource]="dataSource" MatPaginator matSort>
                    <ng-container matColumnDef="Document Type">
                      <th mat-header-cell *matHeaderCellDef> Document Type </th>
                      <td mat-cell *matCellDef="let doc"> {{doc.documentTypes}} </td>
                    </ng-container>
                    <ng-container matColumnDef="Practice Id">
                      <th mat-header-cell *matHeaderCellDef> Practice Id </th>
                      <td mat-cell *matCellDef="let doc"> {{doc.practice.practiceName}} </td>
                    </ng-container>
                    <ng-container matColumnDef="doctor">
                      <th mat-header-cell *matHeaderCellDef> doctor </th>
                      <td mat-cell *matCellDef="let doc"> {{doc.doctor.firstName}} </td>
                    </ng-container>
                    <ng-container matColumnDef="Patient Id">
                      <th mat-header-cell *matHeaderCellDef> Patient Id </th>
                      <td mat-cell *matCellDef="let doc"> {{doc.patientItem.patientCode}} -
                        {{doc.patientItem.firstName}} </td>
                    </ng-container>
                    <ng-container matColumnDef="DOS From - DOS To">
                      <th mat-header-cell *matHeaderCellDef> DOS From - DOS To </th>
                      <td mat-cell *matCellDef="let doc"> {{doc.dosFrom|date:"dd/MM/yyyy"}} - {{doc.dosTo |
                        date:"dd/MM/yyyy"}}
                      </td>
                    </ng-container>
                    <ng-container matColumnDef="Pages">
                      <th mat-header-cell *matHeaderCellDef> Pages </th>
                      <td mat-cell *matCellDef="let doc" title="{{doc.pageNumber}}"> {{doc.pageTitle}} </td>
                    </ng-container>
                    <ng-container matColumnDef="Actions">
                      <th mat-header-cell *matHeaderCellDef> Actions </th>
                      <td mat-cell *matCellDef="let doc;let i =index"> <button [disabled]="editdisabled" class="mat-raised-button primaryColor"
                          (click)="editMapDoc(doc,i)">Edit</button> |
                        <button [disabled]="deletedisabled" class="mat-raised-button dangerColor" (click)="deleteMapDoc(doc, i)">Delete</button>
                      </td>
                    </ng-container>
                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                  </table>
                </div>
              </div>
            </div>
          </mat-card-content>
        </form>
      </mat-card>
    </div>
      <div class="mat-divider" #matdivider>
        <mat-divider></mat-divider>
      </div>
      <mat-card>
        <mat-card-content>
          <div id="pageList" [class.stickyButton]="stickyButton" *ngIf=" pdf">
            <p *ngIf="pdf">
              Displaying <input id="pageNoView" matInput placeholder="Page" [(ngModel)]="page"><span *ngIf="pdf">of
                {{ pdf.numPages }}</span>
                <a mat-raised-button id="Prev" (click)="incrementPage(-1)">Previous</a>
              <a mat-raised-button id="Next" (click)="incrementPage(+1)">Next</a>
              <a mat-raised-button class="pageSelect" *ngIf="currentPage==true" mat-button (click)="selectPage(page)">Select Page {{page}}</a>
                  <a mat-raised-button class="pageSelect" *ngIf="currentPage==false" mat-button (click)="deselectPage(page)">De-Select Page {{page}}</a>
            
            </p>
            <!-- <div class="row">
              </div> -->
            <!-- <p>Click on Page no to navigate</p>
            <form [formGroup]="form">
              <div id="matListPage">
                 <div *ngFor="let page of remainingPdfPages; let i = index">
                  {{i+1}}.) <a mat-button (click)="showCurrentPage(i+1)">Page {{i+1}}</a> -->
                  
                <!-- </div> -->
              <!--</div>
            </form> -->
          </div>
          <div id="pdfVw">
            <pdf-viewer [src]="pdfSrc" [render-text]="true" [(page)]="page" [show-all]="false" (after-load-complete)="afterLoadComplete($event)"
              style="display: block;">
            </pdf-viewer>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
<app-loader *ngIf="!aboutToSave"></app-loader>