<!--<navbar></navbar>-->
<!-- import file html -->
<!-- <app-navbar></app-navbar>
<div class="page-wrapper">
  <div class="content container-fluid">
<div class="mat-elevation-z8">
  <mat-card>
    <form [formGroup]="form">
      <mat-card-content>
    <div class="panel-heading">
      <div class="row topTier">
        <h3 id="sectionalHeader">Attroney Home</h3>
      </div>
    </div>

    
        
        <mat-divider></mat-divider>
        <div class="panel-body">
          <div class="table-responsive">
        <div class="row">
          <mat-form-field class="col-2">
            <mat-select placeholder="Select Practice">
              <mat-option *ngFor="let practice of newpractice">Vcarve</mat-option>
         
            </mat-select>
          </mat-form-field>
          <mat-form-field class="col-2">
              <mat-select placeholder="Patient ID">
              <mat-option value="patientId">Patient ID</mat-option>
              <mat-option value="firtName">First Name</mat-option>
              <mat-option value="lastName">Last Name</mat-option>
            </mat-select>
           
          </mat-form-field>
          <mat-form-field class="col-2">
              <input matInput placeholder="Enter Search Value">
            </mat-form-field>
        </div>

        <div class="row">
          <mat-form-field class="col-2">
              <mat-select placeholder="Select Patient">
              <mat-option *ngFor="let doctor of user">Vcarve</mat-option>
            </mat-select>
          </mat-form-field>
          
          <button mat-raised-button class="primaryColor">Search</button>
        </div>

        <div class="row">
          <table #table mat-table *ngIf="dataSource" [dataSource]="dataSource" MatPaginator matSort>
            <ng-container matColumnDef="Document Type">
              <th mat-header-cell *matHeaderCellDef> Document Type </th>
              <td mat-cell *matCellDef="let doc"> {{doc.documentTypes}} </td>
            </ng-container>
            <ng-container matColumnDef="Practice Id">
              <th mat-header-cell *matHeaderCellDef> Practice Id </th>
              
              <td mat-cell *matCellDef="let doc"> {{doc.practice.practiceName}} </td>
            </ng-container>
            <ng-container matColumnDef="doctor">
              <th mat-header-cell *matHeaderCellDef> doctor </th>
              
              <td mat-cell *matCellDef="let doc"> {{doc.doctor.firstName}} </td>
            </ng-container>
            <ng-container matColumnDef="Patient Id">
              <th mat-header-cell *matHeaderCellDef> Patient Id </th>
              
              <td mat-cell *matCellDef="let doc"> {{doc.patientItem.patientCode}} - {{doc.patientItem.firstName}} </td>
            </ng-container>
            <ng-container matColumnDef="DOS From - DOS To">
              <th mat-header-cell *matHeaderCellDef> DOS From - DOS To </th>
              <td mat-cell *matCellDef="let doc"> {{doc.dosFrom|date:"dd/MM/yyyy"}} - {{doc.dosTo | date:"dd/MM/yyyy"}}
              </td>
            </ng-container>


            <ng-container matColumnDef="Pages">
              <th mat-header-cell *matHeaderCellDef> Pages </th>
              <td mat-cell *matCellDef="let doc"> {{doc.pageNumber}} </td>
            </ng-container>
            <ng-container matColumnDef="Actions">
              <th mat-header-cell *matHeaderCellDef> Actions </th>
              <td mat-cell *matCellDef="let doc;let i =index"> <button [disabled]="editdisabled" mat-raised-button
                  color="primary" (click)="editMapDoc(doc,i)">Edit</button> | <button [disabled]="deletedisabled"
                  mat-raised-button color="warn" (click)="deleteMapDoc(doc, i)">Delete</button> </td>
            </ng-container>
            
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>

        </div>
        
        </div>
        </div>
      </mat-card-content>

    </form>

  </mat-card>


  <div class="mat-divider" #matdivider>
    <mat-divider></mat-divider>
  </div>
  <mat-card>
    <mat-card-content>
      <div id="pageList" [class.stickyButton]="stickyButton" *ngIf="!showAll && pdf">
        <p *ngIf="pdf">
          Displaying <input id="pageNoView" matInput placeholder="Page" [(ngModel)]="page"><span *ngIf="pdf">of
            {{ pdf.numPages }}</span>
        </p>
        <div class="row">
          <a mat-raised-button id="Prev" (click)="incrementPage(-1)">Previous</a>
          <a mat-raised-button id="Next" (click)="incrementPage(+1)">Next</a>
        </div>

        <p>Click on Page no to navigate</p>
        <form [formGroup]="form">
          <div id="matListPage">
          <div *ngFor="let page of remainingPdfPages; let i = index">
            {{i+1}}.) <a mat-button (click)="showCurrentPage(i+1)">Page {{i+1}}</a>
            <a class="pageSelect" *ngIf="page==true" mat-button (click)="selectPage(i+1)">Select Page</a>
            <a class="pageSelect" *ngIf="page==false" mat-button (click)="deselectPage(i+1)">De-Select Page</a>
          </div>

          </div>
        </form>
      </div>
    </mat-card-content>

  </mat-card>
</div>
</div>
</div>
 -->
