<app-navbar></app-navbar>
<!-- <div class="row Menu">
  <mat-toolbar >
    <mat-toolbar-row>
        <h2 id="logoName"><img class="img-responsive" src="assets/img/mdLogo.png"> DMS</h2>
        <a mat-button routerLink="/admin" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}" >Practice</a>
        <a mat-button routerLink="/admin/users" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}" >Users</a>
        <div class="navbarUserbtn">
          <label>Hi Sandeep</label>
          <button id="logOut" mat-raised-button >Logout</button>
        </div>
      </mat-toolbar-row> 
  </mat-toolbar>
</div> -->

<!--angular material DataTable  -->
  <div class="page-wrapper">
      <div class="content container-fluid">
      <div class="row">
      <div class="col-md-12">
      <div class="panel panel-table">
        <div class="panel-heading">
            <div class="row topTier" >
                <h3 id="sectionalHeader" >All Users</h3>
              <div class="sectionalInput">
                <mat-form-field >
                  <input matInput [(ngModel)]="searchString" placeholder="Search Users">
                </mat-form-field>
                <button mat-raised-button class="primaryColor" (click)="searchUser()" >Search User</button>
                <button mat-raised-button class="primaryColor" (click)="openAddUserDialog()" >Add User</button>
              </div>
              </div>
        </div>
  <div class="panel-body">
      <div class="table-responsive">
  <table #table mat-table [dataSource]="dataSource" MatPaginator matSort >

    <!-- Practice Name Column -->
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef mat-sort-header > No. </th>
      <td mat-cell *matCellDef="let user"> {{user.id}} </td>
    </ng-container>

    <!-- Practice Name Column -->
    <ng-container matColumnDef="Name"  >
      <th mat-header-cell *matHeaderCellDef mat-sort-header > Name </th>
      <td mat-cell *matCellDef="let user"> {{user.firstName}} {{user.lastName}} </td>
    </ng-container>

    <!-- Address1 Column -->
    <ng-container matColumnDef="Email">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Email </th>
      <td mat-cell *matCellDef="let user"> {{user.email}}  </td>
    </ng-container>
    
    <!-- City Column -->
    <ng-container matColumnDef="Practice">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Practice </th>
     <!-- <td mat-cell *matCellDef="let user"> {{user.practice.practiceName}} </td>-->
     <td mat-cell *matCellDef="let user"> {{user.practice}} </td>
    </ng-container>

    <!-- City Column -->
    <ng-container matColumnDef="Role">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Role </th>
      <td mat-cell *matCellDef="let user"> {{user.authorities}} </td>
    </ng-container>

    <!-- <ng-container matColumnDef="Tasks">
      <th mat-header-cell  *matHeaderCellDef> Tasks </th>
      <td  mat-cell *matCellDef="let user"> 
        <button mat-raised-button class="primaryColor" (click)="openAddUserDialog(user)" >Edit</button> |
         <button mat-raised-button class="dangerColor" (click)="deletePractice(user.id)" >Delete</button> </td>
    </ng-container> -->

    <ng-container matColumnDef="Tasks">
        <th mat-header-cell  *matHeaderCellDef> Tasks </th>
        <td class="text-left" mat-cell *matCellDef="let user">
            <div class="dropdown">
                <a href="#" class="action-icon dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="fa fa-ellipsis-v"></i></a>
                <ul class="dropdown-menu pull-right">
                    <li><a (click)="openAddUserDialog(user)" title="Edit"><i class="fa fa-pencil m-r-5"></i> Edit</a></li>
                    <li><a (click)="deletePractice(user.id)" title="Delete"><i class="fa fa-trash-o m-r-5"></i> Delete</a></li>
                </ul>
            </div>
        </td>
      </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  <mat-paginator [pageSizeOptions]="[ 5, 10, 20]" showFirstLastButtons></mat-paginator>
  </div>
  </div>
</div>
</div>
</div>
</div>
</div>