<app-navbar></app-navbar>
<div class="page-wrapper">
  <div class="content container-fluid">
    <div class="mat-elevation-z8">
      <!--  <div class="row topTier" >
        <div class="sectionalInput">-->
      <table #table mat-table [dataSource]="dataSource">

        <!-- Practice Name Column -->
        <ng-container matColumnDef="patientId">
          <th mat-header-cell *matHeaderCellDef>Patient ID </th>
          <td mat-cell *matCellDef="let currentPatient"> {{currentPatient.patientCode}}</td>
          <!-- <td mat-cell *matCellDef="let currentPatient"> {{currentPatient.patientItem.patientId}}</td>-->
        </ng-container>

        <!-- Practice Name Column -->
        <ng-container matColumnDef="Name">
          <th mat-header-cell *matHeaderCellDef> Name </th>
          <td mat-cell *matCellDef="let currentPatient"> {{currentPatient.firstName}} {{currentPatient.lastName}} </td>
          <!--  <td mat-cell *matCellDef="let currentPatient"> {{currentPatient.patientItem.firstName}} {{currentPatient.patientItem.lastName}} </td>-->
        </ng-container>

        <!-- Practice Name Column -->
        <ng-container matColumnDef="Age">
          <th mat-header-cell *matHeaderCellDef> Age </th>
          <!-- <td mat-cell *matCellDef="let currentPatient"> {{currentPatient.patientItem.age}}</td>-->
          <td mat-cell *matCellDef="let currentPatient"> {{currentPatient.age}}</td>
        </ng-container>

        <!-- Practice Name Column -->
        <ng-container matColumnDef="gender">
          <th mat-header-cell *matHeaderCellDef> Gender </th>
          <!-- <td mat-cell *matCellDef="let currentPatient"> {{currentPatient.patientItem.gender}}</td>-->
          <td mat-cell *matCellDef="let currentPatient"> {{currentPatient.sex}}</td>
        </ng-container>

        <!-- Practice Name Column -->
        <ng-container matColumnDef="phone">
          <th mat-header-cell *matHeaderCellDef> Phone </th>
          <!-- <td mat-cell *matCellDef="let currentPatient"> {{currentPatient.patientItem.homePhone}}</td>-->
          <td mat-cell *matCellDef="let currentPatient"> {{currentPatient.mobileNo}}</td>
        </ng-container>

        <!-- City Column -->
        <ng-container matColumnDef="Practice">
          <th mat-header-cell *matHeaderCellDef> Practice </th>
          <!--  <td mat-cell *matCellDef="let currentPatient"> {{currentPatient.practice.practiceName}} </td>-->
          <td mat-cell *matCellDef="let currentPatient"> {{currentPatient.practiceCode}} </td>
        </ng-container>

        <!-- City Column -->
        <ng-container matColumnDef="doa">
          <th mat-header-cell *matHeaderCellDef> DOA </th>
          <!-- <td mat-cell *matCellDef="let currentPatient"> {{currentPatient.patientItem.doa | date :'mediumDate' }} </td>-->
          <td mat-cell *matCellDef="let currentPatient"> {{currentPatient.doa | date :'mediumDate' }} </td>
        </ng-container>

        <!-- City Column -->
        <ng-container matColumnDef="doctor">
          <th mat-header-cell *matHeaderCellDef> Doctor </th>
          <!--  <td mat-cell *matCellDef="let currentPatient"> {{currentPatient.doctor.firstName}} </td>-->
          <td mat-cell *matCellDef="let currentPatient"> {{currentPatient.doctorId}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
      <!--</div>
</div>-->
      <mat-divider></mat-divider>
      <br>



      <mat-accordion>
        <mat-expansion-panel id="expHeader"  style="background: linear-gradient(to right, #43cea2, #185a9d);color:white;">
          <mat-expansion-panel-header>
            <div class="col-4">
              Date of Service
            </div>
            <div class="col">
              Attorney Name
            </div>
            <div class="col">
              Action
            </div>
            <!--  <div class="col">
        Document
      </div>-->
          </mat-expansion-panel-header>
          <!-- <mat-accordion  *ngFor="let patientlist of patient">
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <div class="col-4">
              {{patientlist.doa | date :'mediumDate' }} To {{patientlist.firstVisit | date :'mediumDate' }} 
            </div>
            <div class="col">
              {{patientlist.attorneyFirstName}} {{patientlist.attorneyLastName}}
            </div>
            <div class="col">
              {{patientlist.caseType}}  
            </div>
            <div class="col">
              <a>amount.docx</a>
            </div>
          </mat-expansion-panel-header>
            <div class="col-2">
              {{patientlist.doa | date :'mediumDate' }} To {{patientlist.firstVisit | date :'mediumDate' }} 
            </div>
            <div class="col-2">
              {{patientlist.doa | date :'mediumDate' }} To {{patientlist.firstVisit | date :'mediumDate' }}
            </div>
            <div class="col-2">
              {{patientlist.doa | date :'mediumDate' }} To {{patientlist.firstVisit | date :'mediumDate' }}
            </div>
            <div class="col-2">
              {{patientlist.doa | date :'mediumDate' }} To {{patientlist.firstVisit | date :'mediumDate' }}
            </div>    
        </mat-expansion-panel>
      </mat-accordion>
      <mat-accordion  *ngFor="let patientlist of patient">
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <div class="col-4">
                {{patientlist.doa | date :'mediumDate' }} To {{patientlist.firstVisit | date :'mediumDate' }} 
              </div>
              <div class="col">
                {{patientlist.attorneyFirstName}} {{patientlist.attorneyLastName}}
              </div>
              <div class="col">
                {{patientlist.caseType}}  
              </div>
              <div class="col">
                <a>amount.docx</a>
              </div>
            </mat-expansion-panel-header>
              <div class="col-2">
                {{patientlist.doa | date :'mediumDate' }} To {{patientlist.firstVisit | date :'mediumDate' }} 
              </div>
              <div class="col-2">
                {{patientlist.doa | date :'mediumDate' }} To {{patientlist.firstVisit | date :'mediumDate' }}
              </div>
              <div class="col-2">
                {{patientlist.doa | date :'mediumDate' }} To {{patientlist.firstVisit | date :'mediumDate' }}
              </div>
              <div class="col-2">
                {{patientlist.doa | date :'mediumDate' }} To {{patientlist.firstVisit | date :'mediumDate' }}
              </div>    
          </mat-expansion-panel>
        </mat-accordion> -->
        </mat-expansion-panel>
      </mat-accordion>
      <!--{{patientr.dosTo}}-->
      <!--<mat-accordion *ngFor="let pat of patientr.dosTo; let i=index" >-->
      <!--  <mat-accordion *ngFor="let pat of patientr.dosNewFrom; let i=index" >-->
      <mat-accordion *ngFor="let pat of patientr; let i=index">
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <div class="col-4">
              <!--   {{patientr.dosNewFrom[i]}} To {{patientr.dosNewTo[i]}} -->
              {{pat.dosDate}}
            </div>
            <div class="col">
              <!--   {{patientr.attorney[i]?.firstName}} {{patientr.attorney[i]?.lastName}}-->
              <!--<a href="#" (click)="openAssignAttorneyDialog(patientr.dosNewFrom[i]+'to'+patientr.dosNewTo[i], i, patientr, $event)">assign attorney-->
              <a href="#" *ngIf="!pat.attorneyName" (click)="editAssignAttorneyDialog(pat.dosDate, i, patientr, $event)">Assign
                Attorney

              </a><span *ngIf="pat.attorneyName" (click)="editAssignAttorneyDialog(pat.dosDate, i, patientr, $event)">{{pat.attorneyName}}</span>
            </div>
            <div class="col" *ngIf="!pat.processedValue">
              <button mat-raised-button id="processedButton" class="primaryColor" (click)="processedSave(pat.attorneyName,pat.fromDos,pat.toDOS)">Process</button>
              | <a (click)="downloadDocTypes(pat)">Download DocTypes</a><!--<a>Fax20171002035533.pdf</a>-->
            </div>
            <div class="col" *ngIf="pat.processedValue">
              <span>Processed on {{pat.processedDate}} | <a (click)="downloadDocTypes(pat)">Download DocTypes</a></span>
              <!--<a>Fax20171002035533.pdf</a>-->
            </div>
          </mat-expansion-panel-header>
          <div class="panelBody">
            <!--  <div class="col">
          <a href="">Claims forms</a>-->
            <!--  <a mat-raised-button routerLink="/mdmuser/mapDocuments">Edit</a> -->
            <!--    </div>-->
            <div class="col-4">
              <!-- <a href="#" [routerLink]="['/mdmuser/mapDocuments/',patientr.patientItem]"> >-->
              <!--  <div class="row" *ngFor="let doctype of patientr.newDocType[i].docType; let j=index">-->
              <div class="row" *ngFor="let doctype of pat.docType; let j=index">
                <!--  <a href="#" (click)="openAssignAttorneyDialog(patientr.dosNewFrom[i]+'to'+patientr.dosNewTo[i], i, patientr, $event)" >-->
                <a (click)="openInNextTab(pat.docLink,j)"> >
                  <!--  {{patientr.documentTypes[i]}}-->
                  <!--({{patientr.dosFrom[i]}} To {{patientr.dosTo[i] }})-->
                  <!-- {{patientr.newDocType[i].DocType[j]}}-->
                  {{doctype}}
                </a>
              </div>
            </div>
            <!--<a mat-raised-button routerLink="/mdmuser/mapDocuments">Edit</a> -->
            <!--  </div>
        <div class="col">
          <a href="">
            EOB({{patientlist.doa | date :'mediumDate' }} To {{patientlist.firstVisit | date :'mediumDate' }})
          </a>-->
            <!--   <a mat-raised-button routerLink="/mdmuser/mapDocuments">Edit</a> -->
            <!--</div>
        <div class="col">
            <a href="">
              Claims Forms({{patientlist.doa | date :'mediumDate' }} To {{patientlist.firstVisit | date :'mediumDate' }})
            </a>-->
            <!--   <a mat-raised-button routerLink="/mdmuser/mapDocuments">Edit</a>
        </div> -->
          </div>
        </mat-expansion-panel>
      </mat-accordion>
      <mat-divider></mat-divider>
      <mat-card>
        <button class="mat-raised-button primaryColor" id="updateBtn" routerLink="/mdmuser/attorneypatients">Back</button>
      </mat-card>
      <!-- <mat-accordion  *ngFor="let patientlist of patient">
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <div class="col-4">
            {{patientlist.doa | date :'mediumDate' }} To {{patientlist.firstVisit | date :'mediumDate' }} 
          </div>
          <div class="col">
            {{patientlist.attorneyFirstName}} {{patientlist.attorneyLastName}}
          </div>
          
          <div class="col">
              <button mat-raised-button id="processedButton" class="primaryColor" >Processed</button>-->
      <!--<a>Fax20171002035533.pdf</a>-->
      <!--  </div>
        </mat-expansion-panel-header>
        <div class="panelBody">
        
        <div class="col">
          <a routerLink="/mdmuser/patients">Claims forms</a>-->
      <!--<a mat-raised-button routerLink="/mdmuser/mapDocuments">Edit</a> -->
      <!--  </div>
        <div class="col">
          <a href="">
            Claims Forms({{patientlist.doa | date :'mediumDate' }} To {{patientlist.firstVisit | date :'mediumDate' }})
          </a>-->
      <!--<a mat-raised-button routerLink="/mdmuser/mapDocuments">Edit</a> -->
      <!--    </div>
        <div class="col">
          <a href="">
            EOB({{patientlist.doa | date :'mediumDate' }} To {{patientlist.firstVisit | date :'mediumDate' }})
          </a>-->
      <!--<a mat-raised-button routerLink="/mdmuser/mapDocuments">Edit</a> -->
      <!-- </div>
        <div class="col">
            <a href="">
              Claims Forms({{patientlist.doa | date :'mediumDate' }} To {{patientlist.firstVisit | date :'mediumDate' }})
            </a>-->
      <!--<a mat-raised-button routerLink="/mdmuser/mapDocuments">Edit</a> -->
      <!-- </div>   
        </div> 
      </mat-expansion-panel>
    </mat-accordion>-->
    </div>
  </div>
</div>








































<!--<mat-accordion  *ngFor="let patientlist of patient.dosFrom ; let i=index">
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <div class="col-4">-->

<!--   {{patientlist.doa | date :'mediumDate' }} To {{patientlist.firstVisit | date :'mediumDate' }} -->
<!-- {{patient.dosFrom[i] }} To {{patient.dosTo[i] }}-->
<!--date of services {{patientlist|json}}

      </div>
     
      <div class="col">-->
<!--   {{patientlist.attorney}} {{patientlist.attorneyLastName}}
     {{patient.attorney[i].firstName}} {{patient.attorney[i].lastName}}
      </div>
      <div class="col">
          <button mat-raised-button id="goBtn" (click)="go()">processed</button>
        </div>
      <div class="col">
        <a>Fax20171002035533.pdf</a>
      </div>
    </mat-expansion-panel-header>
      <div class="panelBody">
      <div class="col">
        <a href="">{{patient.documentType[i]}}({{patient.dosFrom[i]}}-{{patient.dosTo}})</a>
        <a mat-raised-button routerLink="/mdmuser/mapDocuments">Edit</a> 
      </div>

    </div>    
  </mat-expansion-panel>
</mat-accordion>-->
<!-- <div class="col">
        <a href="">-->
<!--     Claims Forms({{patientlist.doa | date :'mediumDate' }} To {{patientlist.firstVisit | date :'mediumDate' }})-->
<!--  {{patient.documentType[i]}}({{patient.dosFrom[i]}}-{{patient.dosTo}})
        </a>-->
<!--  <a mat-raised-button routerLink="/mdmuser/mapDocuments">Edit</a> -->
<!--     </div>
      <div class="col">
        <a href="">-->
<!--   EOB({{patientlist.doa | date :'mediumDate' }} To {{patientlist.firstVisit | date :'mediumDate' }})-->
<!--  {{patient.documentType[i]}}({{patient.dosFrom[i]}}-{{patient.dosTo}})
        </a>
        <a mat-raised-button routerLink="/mdmuser/mapDocuments">Edit</a> 
      </div>
      <div class="col">
          <a href="">
            Claims Forms({{patientlist.doa | date :'mediumDate' }} To {{patientlist.firstVisit | date :'mediumDate' }})
          </a>
          <a mat-raised-button routerLink="/mdmuser/mapDocuments">Edit</a> 
      </div>-->

<!--
<mat-accordion  *ngFor="let patientlist of patient">
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <div class="col-4">
          {{patientlist.doa | date :'mediumDate' }} To {{patientlist.firstVisit | date :'mediumDate' }} 
        </div>
        <div class="col">
          {{patientlist.attorneyFirstName}} {{patientlist.attorneyLastName}}
        </div>
        
        <div class="col">
          <a>Fax20171002035533.pdf</a>
        </div>
      </mat-expansion-panel-header>
      <div class="panelBody">
      
      <div class="col">
        <a routerLink="/mdmuser/patients">Claims forms</a>
        <a mat-raised-button routerLink="/mdmuser/mapDocuments">Edit</a> 
      </div>
      <div class="col">
        <a href="">
          Claims Forms({{patientlist.doa | date :'mediumDate' }} To {{patientlist.firstVisit | date :'mediumDate' }})
        </a>
        <a mat-raised-button routerLink="/mdmuser/mapDocuments">Edit</a> 
      </div>
      <div class="col">
        <a href="">
          EOB({{patientlist.doa | date :'mediumDate' }} To {{patientlist.firstVisit | date :'mediumDate' }})
        </a>
        <a mat-raised-button routerLink="/mdmuser/mapDocuments">Edit</a> 
      </div>
      <div class="col">
          <a href="">
            Claims Forms({{patientlist.doa | date :'mediumDate' }} To {{patientlist.firstVisit | date :'mediumDate' }})
          </a>
          <a mat-raised-button routerLink="/mdmuser/mapDocuments">Edit</a> 
      </div>   
      </div> 
    </mat-expansion-panel>
  </mat-accordion>-->


<!--
<div class="mat-elevation-z8 containerWidth" >
<mat-card>
  <mat-card-content>
      <div class="row">  
     <div class="col-2">
      PatientId 
      </div>
       <div class="col-2">
       Practice 
       </div>
       
       <div class="col-2">
          doctor
         </div>
         <div class="col-2">
            doctypes - dos
           </div>
      </div>
      
          <div class="row" *ngFor="let patientr of patient; let i=index">
              <div class="col-2">
                 {{patientr.patientItem}}
                  </div>
                  <div class="col-2">
                      {{patientr.practice}} 
                      </div>
                      <div class="col-2">
                          {{patientr.doctor}} 
                          </div>
                         <div class="col-4">
                       <div *ngFor="let pat of patientr.documentTypes; let k=index" class="row">
                           <a href="#" (click)="openAssignAttorneyDialog(patientr.dosFrom[k]+ 'to' +patientr.dosTo[k], k, patientr, $event)" >   {{pat}}({{patientr.dosFrom[k] }}-{{patientr.dosTo[k]}}) </a>
                            </div>
                            </div>
                      </div>
                      <button mat-raised-button color="primary" id="updateBtn" (click)="Update()">Update</button>
          </mat-card-content>
          </mat-card>
</div>
        
-->




<!--<div class="mat-elevation-z8 containerWidth" >
<mat-card>
  <mat-card-content>
      <div class="row">  
     <div class="col-2">
      PatientId 
      </div>
       <div class="col-2">
       Practice 
       </div>
       
       <div class="col-2">
          doctor
         </div>
         <div class="col-2">
            doctypes - dos
           </div>
      </div>
      
          <div class="row" *ngFor="let patientr of patient; let i=index">
              <div class="col-2">
                 {{patientr.patientItem}}
                  </div>
                  <div class="col-2">
                      {{patientr.practice}} 
                      </div>
                      <div class="col-2">
                          {{patientr.doctor}} 
                          </div>
                         <div class="col-4">
                       <div *ngFor="let pat of patientr.documentTypes; let k=index" class="row">
                           <a href="#" (click)="openAssignAttorneyDialog(patientr.dosFrom[k]+ 'to' +patientr.dosTo[k], k, patientr, $event)" >   {{pat}}({{patientr.dosFrom[k] }}-{{patientr.dosTo[k]}}) </a>
                            </div>
                            </div>
                      </div>
                      <button mat-raised-button color="primary" id="updateBtn" (click)="Update()">Update</button>
                      {{modeldata|json}}
          </mat-card-content>
          </mat-card>
</div>-->