<!-- 

<div class="row Menu">
  <mat-toolbar>
    <mat-toolbar-row>
        <h2 id="logoName">
          <img class="img-responsive" src="assets/img/mdLogo.png"> DMS</h2>
        <ng-container *ngIf="isAdmin">
          <a mat-button routerLink="/admin" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}" >Practice</a>
          <a mat-button routerLink="/admin/users" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}" >Users</a>
          <mat-form-field class="toolbarSelect">
            <mat-select placeholder="MDM User" >
              <mat-option ><a style="width:100%" mat-button routerLink="/mdmuser" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}" >Add Patient</a></mat-option>
              <mat-option ><a style="width:100%" mat-button routerLink="/mdmuser/patients" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}" >Edit Patient</a></mat-option>
              <mat-option ><a style="width:100%" mat-button routerLink="/mdmuser/mapDocuments" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}" >Map Documents to Patient</a></mat-option>
              <mat-option ><a style="width:100%" mat-button routerLink="/mdmuser/mapDos" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}" >Map DOS to Attorney</a></mat-option>
            </mat-select>              
          </mat-form-field>
          <a mat-button routerLink="/doctor" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}" >Doctor Home</a>
          <a mat-button routerLink="/attorney" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}" >Attorney Home</a>
        </ng-container>

        <ng-container *ngIf="isMdmUser">
          <a mat-button routerLink="/mdmuser" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}" >Add Patient</a>
          <a mat-button routerLink="/mdmuser/patients" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}" >Edit Patient</a>
          <a mat-button routerLink="/mdmuser/mapDocuments" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}" >Map Documents to Patient</a>
          <a mat-button routerLink="/mdmuser/mapDos" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}" >Map Documents to Attorney</a>
        </ng-container>

        <ng-container *ngIf="isDoctor">
          <a mat-button routerLink="/doctor" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}" >Home</a>
        </ng-container>

        <ng-container *ngIf="isAttorney">
          <a mat-button routerLink="/attorney" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}" >Home</a>
        </ng-container>
        <div class="navbarUserbtn">
          <label>Hi! {{currentUser.firstName}}</label>
          <button id="logOut" mat-raised-button (click)="logout()" >Logout</button>
        </div>
      </mat-toolbar-row>
  </mat-toolbar>

</div>-->

<!-- <mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #drawer
    class="sidenav"
    fixedInViewport="true">
    <mat-toolbar color="primary">
      <span *ngIf="isAdmin">Admin</span>
      <span *ngIf="isAttorney">Attoryney</span>
      <span *ngIf="isDoctor">Doctor</span>
      <span *ngIf="isMdmUser">MDM User</span>
    </mat-toolbar>
    <mat-nav-list>
      <a mat-list-item routerLink="/admin" *ngIf="isAdmin" [routerLinkActive]="['is-active']" [routerLinkActiveOptions]="{exact:true}" >Practice</a>
      <a mat-list-item *ngIf="isAdmin" routerLink="/admin/users" [routerLinkActive]="['is-active']" [routerLinkActiveOptions]="{exact:true}" >Users</a>
      <a mat-list-item *ngIf="isAdmin || isMdmUser"routerLink="/mdmuser/patients" [routerLinkActive]="['is-active']" [routerLinkActiveOptions]="{exact:true}" >Patients</a>
      <a mat-list-item *ngIf="isAdmin || isMdmUser"routerLink="/mdmuser/mapDocuments" [routerLinkActive]="['is-active']" [routerLinkActiveOptions]="{exact:true}" >Map Doc's to Patient</a>
      <a mat-list-item *ngIf="isAdmin || isMdmUser"routerLink="/mdmuser/mapDos" [routerLinkActive]="['is-active']" [routerLinkActiveOptions]="{exact:true}" >Map DOS to Attorney</a>
      <a mat-list-item *ngIf="isAdmin || isDoctor"routerLink="/doctor" [routerLinkActive]="['is-active']" [routerLinkActiveOptions]="{exact:true}" >Doctor Home</a>
      <a mat-list-item *ngIf="isAdmin || isAttorney"routerLink="/attorney" [routerLinkActive]="['is-active']" [routerLinkActiveOptions]="{exact:true}" >Attorney Home</a>
      <a mat-list-item class="inner-content" (click)="logout()" >Logout</a>
      
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()">
        <mat-icon aria-label="Side nav toggle icon"><i class="fa fa-bars fa-bars-fa"></i></mat-icon>
      </button>
      </mat-toolbar>
     </mat-sidenav-content>
</mat-sidenav-container> -->




<div class="header">
  <div class="header-left">
    <!-- <a href="/admin" class="logo">
      <img src="../../assets/img/mdLogo1.png" height="45" alt="MDM">
    </a> -->
  <div class="page-title-box pull-left">
    <p style="color:white;font-size: 9px;margin-top: -10px;">
      <!-- <img src="../../assets/img/mdLogo.png" height="45" alt="MDM"> -->
      <span style="font-size:25px; color:white;"><b>MD</b>MANAGE</span>
      <br>  <span>LET YOUR PRACTICE BE A PRACTICE</span></p>
  </div>
</div>
  <!-- <button  type="button" id="toggle_btn" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()">
  <mat-icon aria-label="Side nav toggle icon"><i class="fa fa-bars fa-bars-fa"></i></mat-icon>
</button> -->
  <!-- <a id="toggle_btn" href="javascript:void(0);"><i class="fa fa-bars"></i></a> -->
  <!-- <div class="page-title-box pull-left">
    <h3>MD Manage</h3>
  </div> -->
  <a id="mobile_btn" class="mobile_btn pull-left" href="#sidebar"><i class="fa fa-bars" aria-hidden="true"></i></a>
  <ul class="nav navbar-nav navbar-right user-menu pull-right">
    <li class="dropdown">
      <a href="profile.html" class="dropdown-toggle user-link" data-toggle="dropdown">
        <span class="user-img"><img class="img-circle" src="assets/img/user.jpg" width="40">
          <span class="status online"></span></span>
      <span><b>Hi! {{currentDetails}}</b></span>
      </a>
      <ul class="dropdown-menu">
        <li><a (click)="logout()">Logout</a></li>
      </ul>
    </li>
  </ul>
  <div class="dropdown mobile-user-menu pull-right">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i
        class="fa fa-ellipsis-v"></i></a>
    <ul class="dropdown-menu pull-right">
      <li><a (click)="logout()">Logout</a></li>
    </ul>
  </div>
</div>



<div class="sidebar" id="sidebar">
  <div class="sidebar-inner slimscroll">

    <div id="sidebar-menu" class="sidebar-menu">

      <ul>
        <li class="active">
          <a routerLink="/admin" *ngIf="isAdmin" [routerLinkActive]="['is-active']"
            [routerLinkActiveOptions]="{exact:true}">
            <i class="fa fa-home"></i> <span>Practice</span></a>
        </li>
        <li>
          <a *ngIf="isAdmin" routerLink="/admin/users" [routerLinkActive]="['is-active']"
            [routerLinkActiveOptions]="{exact:true}">
            <i class="fa fa-users"></i> <span>Users</span></a>
        </li>
        <li>
          <a *ngIf="isAdmin || isMdmUser" routerLink="/mdmuser/patients" [routerLinkActive]="['is-active']"
            [routerLinkActiveOptions]="{exact:true}">
            <i class="fa fa-ambulance"></i> <span>Patients</span></a>
        </li>

        <li>
          <a *ngIf="isAdmin || isMdmUser" routerLink="/mdmuser/mapDocuments" [routerLinkActive]="['is-active']"
            [routerLinkActiveOptions]="{exact:true}">
            <i class="fa fa-file"></i> <span>Map Doc's to Patient</span></a>
        </li>

        <li>
          <a *ngIf="isAttorney" routerLink="/mdmuser/attorneypatients" [routerLinkActive]="['is-active']"
            [routerLinkActiveOptions]="{exact:true}">
            <i class="fa  fa-map"></i> <span>Attorney Patients</span></a>
        </li>

        <li>
          <a *ngIf="isDoctor" routerLink="/doctor" [routerLinkActive]="['is-active']"
            [routerLinkActiveOptions]="{exact:true}">
            <i class="fa fa-user-md"></i> <span>Doctor Patients</span></a>
        </li>

        <li>
          <a *ngIf="isAttorney" routerLink="/attorney/history" [routerLinkActive]="['is-active']"
            [routerLinkActiveOptions]="{exact:true}">
            <i class="fa  fa-history"></i> <span>History</span></a>
        </li>
        <li>
          <a *ngIf="isAdmin" routerLink="/reports" [routerLinkActive]="['is-active']"
            [routerLinkActiveOptions]="{exact:true}">
            <i class="fa  fa-history"></i> <span>Reports</span></a>
        </li>
        
        <!-- <li>
          <a *ngIf="isAdmin || isMdmUser" routerLink="/admin/searchattorneypatient" [routerLinkActive]="['is-active']"
            [routerLinkActiveOptions]="{exact:true}">
            <i class="fa fa-file"></i> <span>Attorney Home</span></a>
        </li> -->
        <!-- <li>
          <a *ngIf="isAttorney" routerLink="/doctor" [routerLinkActive]="['is-active']"
            [routerLinkActiveOptions]="{exact:true}">
            <i class="fa fa-user-md"></i> <span>Doctor Patients</span></a>
        </li> -->

        <!-- <li>
          <a *ngIf="isAdmin || isAttorney" routerLink="/attorney" [routerLinkActive]="['is-active']"
            [routerLinkActiveOptions]="{exact:true}">
            <i class="fa fa-suitcase"></i> <span>Attorney Home</span></a>
        </li> -->
      </ul>
    </div>
  </div>
</div>
