body{
    padding-left: 10px;
    padding-right: 10px;
}

  
  
  
  
  



mat-card-header{
    background: #43cea2;
    margin-left: -16px;
    margin-right: -16px;
    height: 28px;
    padding-top: 4px;
}
.mat-card-header .mat-card-title{
    margin-bottom: 0px;
}

mat-card{
    padding-top: 0px;
    /* border: 2px solid #3ca55c !important; */
}

p{
    margin-bottom: 0px;
    padding-top: 16px;
}

#uploadButton{
    margin-top: 16px;
}
#topRow{
    margin: 0px;
    background: white;
}


.mat-card-header .mat-card-title {
    font-size: 14px !important;
}

form .row{
    margin-right: 0px;
    margin-left: 0px;
}

mat-divider{
    margin-top: -2px;
}

mat-card-actions{
    text-align: center;
}

.idField{
    display: none;
}

#save{
    background-color: azure;
}

.asterisk ::ng-deep .mat-form-field-label::after{
    content:" *";
    color:red;
}