
<h2 *ngIf="!changeTitle" mat-dialog-title>Enter New User Details</h2>
<h2 *ngIf="changeTitle" mat-dialog-title>Edit User Details</h2>

<!-- <mat-divider></mat-divider> -->
<mat-dialog-content>
  <mat-form-field class="idField">
    <input matInput [(ngModel)]="userData.id">
  </mat-form-field>
  <mat-form-field class="asterisk">
    <input matInput placeholder="First Name" [(ngModel)]="userData.firstName" [ngClass]="{ 'is-invalid': submitted }">
  </mat-form-field>

  <mat-form-field>
    <input matInput placeholder="Last Name" [(ngModel)]="userData.lastName" >
  </mat-form-field>

  <mat-form-field class="asterisk">
    <input matInput placeholder="Email" [(ngModel)]="userData.username" >
  </mat-form-field>

  <mat-form-field *ngIf="!changeTitle" class="asterisk">
    <input type="password" matInput placeholder="Password" [(ngModel)]="userData.password" >
  </mat-form-field>
  <!-- <mat-form-field>
    <input matInput placeholder="Practice" [(ngModel)]="userData.practice" >
  </mat-form-field> -->
  <mat-form-field>
    <input matInput placeholder="User Code" [(ngModel)]="userData.userCode" >
  </mat-form-field>
  <mat-form-field class="asterisk">
      <mat-select placeholder="Select Role" [(ngModel)]="userData.role" (selectionChange)="roleChange(userData.role)" >
        <mat-option value="admin">Admin</mat-option>
        <mat-option value="attorney">Attorney</mat-option>
        <mat-option value="doctor">Doctor</mat-option>        
        <mat-option value="mdmuser">MDM User</mat-option>        
      </mat-select>
  </mat-form-field>
  <!-- (selectionChange)="onRoleChange($event.value)" -->

  <mat-form-field *ngIf="disAbled">
    <mat-select placeholder="Select Practice" [(ngModel)]="userData.practice">
      <mat-option [value]="practice.practiceName" *ngFor="let practice of userData.practices">{{practice.practiceName}}</mat-option>
    </mat-select>

       <!--<mat-select placeholder="Select Practice" [(ngModel)]="userData.practice" >
          <mat-option [value]="practice.practiceName" *ngFor="let practice of userData.practices">{{practice.practiceName}}</mat-option>
          <mat-option [value]="practice" *ngFor="let practice of practices">{{practice.practiceName}}</mat-option>-->
  <!--  <mat-select placeholder="Select Practice" formControlName="practice" >
      <mat-option value="New Horizon Surgical Center">New Horizon Surgical Center</mat-option>
      <mat-option value="Surgicore of JC">Surgicore of JC</mat-option>
      <mat-option value="All City Family Health Care">All City Family Health Care</mat-option>        
      <mat-option value="A&E Anesthesia Associates">A&E Anesthesia Associates</mat-option>        
      <mat-option value="Manalappan Surgery Center">Manalappan Surgery Center</mat-option>-->
    <!-- </mat-select>-->
  </mat-form-field> 

</mat-dialog-content>

<mat-divider></mat-divider>

<mat-dialog-actions align="center">
    <!--<button class="mat-raised-button" id="saveBtn" (click)="save()">Save</button>-->
    <button class="mat-raised-button primaryColor" id="saveBtn" (click)="save()"><span *ngIf="!changeTitle">Save</span><span *ngIf="changeTitle">Update</span></button>
    <button class="mat-raised-button dangerColor" (click)="close()">Close</button>
</mat-dialog-actions>
