<body>



   <div class="mid-class">
       <div class="art-right-w3ls" style="margin-top:-70px;"><br><br>  
            <h1 class="header-w3ls text-center">
                  <img src="../../assets/img/mdLogo.png">
               </h1><br>
         <div style="margin-top:80px;">
          <h2>Login To Your Account</h2>
          <form action="#" method="post">
             <div class="main">
                <div class="form-left-to-w3l">
                   <input type="text" [(ngModel)]="username" name="name" placeholder="Username" required=""  >
                </div>
                <div class="form-left-to-w3l ">
                   <input type="password" [(ngModel)]="password" name="password" placeholder="Password" required=""  >
                   <div class="clear"></div>
                </div>
             </div>
             <!-- <div class="left-side-forget">
                <input type="checkbox" class="checked">
                <span class="remenber-me">Remember me </span>
             </div>
             <div class="right-side-forget">
                <a href="#" class="for">Forgot password...?</a>
             </div> -->
             <div class="clear"></div>
             <div class="btnn">
                <button type="submit" (click)="onSubmit(username,password)">Sign In</button>
             </div>
          </form>
         </div>
          <!-- <div class="w3layouts_more-buttn">
             <h3>Don't Have an account..?
                <a href="#content1">Sign Up Here
                </a>
             </h3>
          </div> -->
          <!-- popup-->
          <div id="content1" class="popup-effect">
             <div class="popup">
                <!--login form-->
                <div class="letter-w3ls">
                   <form action="#" method="post">
                      <div class="form-left-to-w3l">
                         <input type="text" name="name" placeholder="Username" required="">
                      </div>
                      <div class="form-left-to-w3l">
                         <input type="text" name="name" placeholder="Phone" required="">
                      </div>
                      <div class="form-left-to-w3l">
                         <input type="email" name="email" placeholder="Email" required="">
                      </div>
                      <div class="form-left-to-w3l">
                         <input type="password" name="password" placeholder="Password" required="">
                      </div>
                      <div class="form-left-to-w3l margin-zero">
                         <input type="password" name="password" placeholder="Confirm Password" required="">
                      </div>
                      <div class="btnn">
                         <button type="submit">Sign Up</button>
                         <br>
                      </div>
                   </form>
                   <div class="clear"></div>
                </div>
                <!--//login form-->
                <a class="close" href="#">&times;</a>
             </div>
          </div>
          <!-- //popup -->
       </div>
       <!-- <div class="art-left-w3ls">
          <h1 class="header-w3ls">
          <img src="../../assets/img/mdLogo.png">
          </h1>
          <div class="center">
          <h4>Legal Notice:</h4><hr>
          <p>This website is the property of MD Manage and contains highly confidential and federally protected health information. Unauthorized access, copying, modifying or destroying any information is a crime under State and Federal Laws. Perpetrators of such actions will be held accountable to the fullest of the law. Unauthorized use or release of any information contained on this website can and will be prosecuted under HIPAA (Health Insurance Portability and Accountability Act of 1996) guidelines. Access to this website is strictly restricted to MD Manage staff and authorized agents.
      
       </p>
   </div>
       </div> -->
   
       <div class="art-left-w3ls">
            <div class="center">
               <h4 style="background: lightslategrey;padding: 5px;">Legal Notice:</h4>
               <hr>
               <p>This website is the property of MD Manage and contains highly confidential and federally protected health information. Unauthorized access, copying, modifying or destroying any information is a crime under State and Federal Laws. Perpetrators of such actions will be held accountable to the fullest of the law. 
                  Unauthorized use or release of any information contained on this website can and will be prosecuted 
                  under HIPAA (Health Insurance Portability and Accountability Act of 1996) guidelines. 
                  Access to this website is strictly restricted to MD Manage staff and authorized agents. </p>
               </div>
         </div>
       
    </div>
   </body>