
<h2 *ngIf="!changeTitle" mat-dialog-title>Add Practice Details</h2>
<h2 *ngIf="changeTitle" mat-dialog-title>Edit Practice Details</h2>

<!-- <mat-divider></mat-divider> -->

<mat-dialog-content>
  <mat-form-field class="idField">
      <input matInput [(ngModel)]="practiceData.id">
    </mat-form-field>
  <mat-form-field class="asterisk">
    <input matInput placeholder="Practice Name" [(ngModel)]="practiceData.practiceName" >
  </mat-form-field>
  <mat-form-field class="asterisk">
    <input matInput placeholder="Practice Code" [(ngModel)]="practiceData.practiceCode" >
  </mat-form-field>
  <mat-form-field class="asterisk">
    <input matInput placeholder="Address1" [(ngModel)]="practiceData.address1" >
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="Address2" [(ngModel)]="practiceData.address2" >
  </mat-form-field>
  <!-- <mat-form-field>
    <input matInput placeholder="Address2" formControlName="address2">
  </mat-form-field> -->

  <mat-form-field class="asterisk">
    <input matInput placeholder="City" [(ngModel)]="practiceData.city" >
  </mat-form-field>

  <mat-form-field class="asterisk">
      <mat-select placeholder="Select State" [(ngModel)]="practiceData.state">
        <mat-option value="NewYork">New York</mat-option>
        <mat-option value="NewJersey">New Jersey</mat-option>
        <mat-option value="Florida">Florida</mat-option>        
        <mat-option value="Ohio">Ohio</mat-option>        
        <mat-option value="Minnesota">Minnesota</mat-option>
      </mat-select>
  </mat-form-field>

  <!-- <mat-form-field>
    <input type="text" matInput placeholder="Zipcode" formControlName="zipcode" [ngClass]="{ 'is-invalid': submitted && f.zipcode.errors }" 
    pattern="\d{1,5}" maxlength="10">
  </mat-form-field> -->

  <mat-form-field class="asterisk">
    <input type="text" matInput placeholder="Zipcode" maxlength="10" [(ngModel)]="practiceData.zipcode" (input)='zipcodeValidate(practiceData.zipcode,$event)' >
  </mat-form-field>
  
  <!-- <div class="marginTopFile">
      <mat-card-title class="hea">Practice Header</mat-card-title>
    <input id="upbtn" formControlName="practiceheader" formControlName="practiceheader" type="file" id="file" accept=".pdf">
  </div> -->
  <br>
  <mat-form-field>
      <input type="number" matInput placeholder="Tin Number" maxlength="10" [(ngModel)]="practiceData.tinnum" (change)="numberOnly($event)" >
    </mat-form-field>

   </mat-dialog-content>

<mat-divider></mat-divider>

<mat-dialog-actions align="center">
    <!--<button class="mat-raised-button primaryColor" id="saveBtn" (click)="save()">Save</button>-->
    <button class="mat-raised-button primaryColor" id="saveBtn" (click)="save(practiceData)"><span *ngIf="!changeTitle">Save</span><span *ngIf="changeTitle">Update</span></button>
    <button class="mat-raised-button dangerColor" (click)="close()">Close</button>
</mat-dialog-actions>
