
<mat-dialog-content [formGroup]="form">
    <mat-card>
        <form [formGroup]="form">
            <mat-card-content>
                <!--  {{ message }}-->
                <div class="row">
                  <div class="col-6">
                    <h2 mat-dialog-title>{{dos}}</h2> 
                    </div>
                    <div class="col">
                            <a href="#" id="upbtn" type="file" id="file" (click)="handleFileInput($event)" accept=".pdf">{{doctype}}</a>
                        </div>
                </div>

                <br>
                <div class="row-2">
                    <mat-form-field class="col-4">
                            <mat-select placeholder="Select status" formControlName="status" [(ngModel)]="status">
                                    <!--<mat-option [value]="attorney" *ngFor="let attorney of user">{{attorney.firstName}}</mat-option>-->
                                    <mat-option value="TBG-IN">TBG-IN</mat-option>
                                    <mat-option value="TBG-FINAL">TBG-FINAL</mat-option>
                                    <mat-option value="ARB">ARB</mat-option>
                                    <mat-option value="CLOSED">CLOSED</mat-option>
                                </mat-select>
                    </mat-form-field>

                    <!--  <label  >Status Date :</label>-->
                    <mat-form-field class="col-4">
                            <input matInput [matDatepicker]="STATUSdate" (focus)="STATUSdate.open()" placeholder="Select status Date"
                            formControlName="statusDate" [(ngModel)]="statusDate" (dateChange)="statusDateChange($event)">
                        <mat-datepicker-toggle matSuffix [for]="STATUSdate"></mat-datepicker-toggle>
                        <mat-datepicker #STATUSdate></mat-datepicker>
                    </mat-form-field>

                    <mat-form-field class="col-4">
                            <mat-select [compareWith]="compareFn" placeholder="Select attorney" formControlName="attorney"
                            [(ngModel)]="attorney">
                            <mat-option [value]="attorney" *ngFor="let attorney of user">{{attorney?.firstName}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="row-2">
                    <mat-form-field class="col-4">
                            <input matInput [matDatepicker]="PAYMENTdate" (focus)="PAYMENTdate.open()" (dateChange)="paymentDateChange($event)" placeholder="Select payment Date"
                            formControlName="paymentDate" [(ngModel)]="paymentDate">
                        <mat-datepicker-toggle matSuffix [for]="PAYMENTdate"></mat-datepicker-toggle>
                        <mat-datepicker #PAYMENTdate></mat-datepicker>
                    </mat-form-field>
                    <mat-form-field class="col-4">           
                            <input matInput placeholder="Payment Amount" formControlName="paymentAmount"  [(ngModel)]="paymentAmount"/>
                        </mat-form-field>

                    <mat-form-field class="col-4">
                            <input matInput placeholder="ARB amount" formControlName="arbAmount" [(ngModel)]="arbAmount"/>
                          </mat-form-field>
                          </div>
                <div class="row-2"  >
                        <mat-form-field class="col-4">
                                <input matInput [matDatepicker]="SENTdate"  (focus)="SENTdate.open()" (dateChange)="sentDateChange($event)"  placeholder="Select sent Date" formControlName="sentDate" [(ngModel)]="sentDate">
                                <mat-datepicker-toggle matSuffix [for]="SENTdate"></mat-datepicker-toggle>
                                <mat-datepicker #SENTdate></mat-datepicker>
                            </mat-form-field>
                            <mat-form-field class="col-4">
                                    <textarea matInput placeholder="ARB notes" formControlName="arbNotes" [(ngModel)]="arbNotes"></textarea>
                                </mat-form-field>
    
                                <mat-form-field class="col-4">
                                     <textarea matInput placeholder="Nature of dispute" formControlName="natureOfDispute" [(ngModel)]="natureOfDispute"></textarea>
                                    </mat-form-field>
                        </div>
    

                <mat-divider></mat-divider>
            </mat-card-content>
        </form>
    </mat-card>
</mat-dialog-content>
<mat-dialog-actions align="center">
        <button class="mat-raised-button primaryColor" [disabled]="saveDisabled" id="saveBtn" (click)="save()">Save</button>
        <button mat-raised-button class="dangerColor" (click)="close()">Close</button>
</mat-dialog-actions>