<app-navbar></app-navbar>

  <div class="page-wrapper">
      <div class="content container-fluid">
      <div class="row">
      <div class="col-md-12">
      <div class="panel panel-table">
        <div class="panel-heading">
            <div class="row topTier">
                <h3 id="sectionalHeader" >Attorney Patients</h3>
            
              </div>
        </div>
    <div class="panel-body">
        <div class="table-responsive">


  <table #table mat-table [dataSource]="dataSource" MatPaginator matSort >

    <!-- Practice Name Column -->
    <ng-container matColumnDef="patientItem">
      <th mat-header-cell *matHeaderCellDef mat-sort-header >Patient ID </th>
     <!-- <td mat-cell *matCellDef="let patient"> {{patient.patientItem.patientId}} </td>-->
     <td mat-cell *matCellDef="let patient"> {{patient.patientId}} </td>
    </ng-container>

    <!-- Practice Name Column -->
    <ng-container matColumnDef="Name"  >
      <th mat-header-cell *matHeaderCellDef mat-sort-header > Name </th>
     <!-- <td mat-cell *matCellDef="let patient"> {{patient.patientItem.firstName}} {{patient.patientItem.lastName}} </td>-->
     <td mat-cell *matCellDef="let patient"> {{patient.firstName}} {{patient.lastName}} </td>
    </ng-container>
    
    <!-- City Column -->
    <ng-container matColumnDef="Practice">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> practice </th>
    <!--  <td mat-cell *matCellDef="let patient"> {{patient.practice.practiceName}} </td>-->
    <td mat-cell *matCellDef="let patient"> {{patient.practiceName}} </td>
    </ng-container>
     <!-- City Column -->
    <ng-container matColumnDef="doctor">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> ARB Amount </th>
     <!-- <td mat-cell *matCellDef="let patient"> {{patient.doctor.firstName}} </td>-->
     <td mat-cell *matCellDef="let patient"> {{patient.doctor}} </td>
    </ng-container>

    <ng-container matColumnDef="status">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Status </th>
      <td mat-cell *matCellDef="let patient"> {{patient.attorneyFirstName}} {{patient.attorneyLastName}} </td>
    </ng-container>

    <ng-container matColumnDef="received date">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Received Date </th>
      <td mat-cell *matCellDef="let patient"> {{patient.dob | date :'mediumDate' }} </td>
    </ng-container>

    <ng-container matColumnDef="processed date">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Processed Date </th>
      <td mat-cell *matCellDef="let patient"> {{patient.dob | date :'mediumDate' }} </td>
    </ng-container>

    <ng-container matColumnDef="Tasks">
        <th mat-header-cell  *matHeaderCellDef> Tasks </th>
        <td class="text-left" mat-cell *matCellDef="let patient">
            <div class="dropdown">
                <a href="#" class="action-icon dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="fa fa-ellipsis-v"></i></a>
                <ul class="dropdown-menu pull-right">
                  <li><a (click)="openEditPatientDialog(patient)"  title="Edit"><i class="fa fa-pencil m-r-5"></i> DOS</a></li>
                  <li><a (click)="deletePatient(patient.patientId)" title="Delete"><i class="fa fa-trash-o m-r-5"></i> Download DOS</a></li>
                  <li><a title="Coversheet"><i class="fa fa-file-text m-r-5" aria-hidden="true"></i>Coversheet</a></li>
                    </ul>
            </div>
        </td>
      </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  <mat-paginator [pageSizeOptions]="[ 5, 10, 20]" showFirstLastButtons></mat-paginator>
</div>
</div>
</div>
</div>
</div>


