<app-navbar></app-navbar>

  <div class="page-wrapper">
      <div class="content container-fluid">
      <div class="row">
      <div class="col-md-12">
      <div class="panel panel-table">
        <div class="panel-heading">
            <div class="row topTier">
                <h3 id="sectionalHeader" >Attorney </h3>
            
              </div>
        </div>
    <div class="panel-body">
        <div class="table-responsive">


  <table #table mat-table [dataSource]="dataSource" MatPaginator matSort >

    <!-- Practice Name Column -->
    <ng-container matColumnDef="patientItem">
      <th mat-header-cell *matHeaderCellDef mat-sort-header >Patient ID </th>
     <!-- <td mat-cell *matCellDef="let patient"> {{patient.patientItem.patientId}} </td>-->
     <td mat-cell *matCellDef="let patient"> {{patient.patientId}} </td>
    </ng-container>

    <!-- Practice Name Column -->
    <ng-container matColumnDef="Name"  >
      <th mat-header-cell *matHeaderCellDef mat-sort-header > Name </th>
     <!-- <td mat-cell *matCellDef="let patient"> {{patient.patientItem.firstName}} {{patient.patientItem.lastName}} </td>-->
     <td mat-cell *matCellDef="let patient"> {{patient.firstName}} {{patient.lastName}} </td>
    </ng-container>

    <!-- 
    <ng-container matColumnDef="Age"  >
      <th mat-header-cell *matHeaderCellDef mat-sort-header > Age </th>
      <td mat-cell *matCellDef="let patient"> {{patient.age}}</td>
    </ng-container>-->

    <!-- Practice Name Column 
    <ng-container matColumnDef="gender"  >
      <th mat-header-cell *matHeaderCellDef mat-sort-header > Gender </th>
      <td mat-cell *matCellDef="let patient"> {{patient.gender}}</td>
    </ng-container>-->

    <!-- Practice Name Column 
    <ng-container matColumnDef="phone"  >
      <th mat-header-cell *matHeaderCellDef mat-sort-header > Phone </th>
      <td mat-cell *matCellDef="let patient"> {{patient.homePhone}}</td>
    </ng-container>-->
    
    <!-- City Column -->
    <ng-container matColumnDef="Practice">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> practice </th>
    <!--  <td mat-cell *matCellDef="let patient"> {{patient.practice.practiceName}} </td>-->
    <td mat-cell *matCellDef="let patient"> {{patient.practiceName}} </td>
    </ng-container>
<!--
    <ng-container matColumnDef="Attorney">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Attorney </th>
        <td mat-cell *matCellDef="let patient"> {{patient.attorney[0]?.firstName}} </td>
      </ng-container>-->

    <!-- City Column 
    <ng-container matColumnDef="dob">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> DOB </th>
      <td mat-cell *matCellDef="let patient"> {{patient.dob | date :'mediumDate' }} </td>
    </ng-container>-->

     <!-- City Column -->
    <ng-container matColumnDef="doctor">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Provider </th>
     <!-- <td mat-cell *matCellDef="let patient"> {{patient.doctor.firstName}} </td>-->
     <td mat-cell *matCellDef="let patient"> {{patient.doctor}} </td>
    </ng-container>

    <!-- City Column 
    <ng-container matColumnDef="attorney">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Attorney </th>
      <td mat-cell *matCellDef="let patient"> {{patient.attorneyFirstName}} {{patient.attorneyLastName}} </td>
    </ng-container>-->

    <ng-container matColumnDef="Tasks">
      <th mat-header-cell  *matHeaderCellDef> Tasks </th>
    <td  mat-cell *matCellDef="let patient">  <button mat-raised-button class="infoColor" [routerLink]="['/patient/documents/',patient.patientId]" >Date of Service</button>|<a routerLink="">Links</a> </td>
       <!-- <td  mat-cell *matCellDef="let patient">  <button mat-raised-button class="infoColor" [routerLink]="['/patient/documents/',patient.patientItem.patientId]" >Date of Service</button>|<a routerLink="">Links</a> </td>-->
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  <mat-paginator [pageSizeOptions]="[ 5, 10, 20]" showFirstLastButtons></mat-paginator>
</div>
</div>
</div>
</div>
</div>


