<app-navbar></app-navbar>
 <div  class="page-wrapper">
      <div *ngIf="!loader" class="content container-fluid">
      <div class="row">
      <div class="col-md-12">
      <div class="panel panel-table">
        <div class="panel-heading">
            <div class="row topTier">
                <h3 id="sectionalHeader" >Reports</h3>
              </div>
        </div>

        <div class="panel-body">
            <div class="table-responsive">
                <div class="container-fluid">
          <div class="row">
              <mat-form-field class="col-3">
                  <mat-select placeholder="Select Practice"   [(ngModel)]="practice" >
                      <mat-option value="{{practice.id}}" *ngFor="let practice of newpractice">{{practice.practiceName}}</mat-option>
                </mat-select>              
              </mat-form-field>
            <mat-form-field class="col-3">
                <mat-select placeholder="Select status" formControlName="status" [(ngModel)]="status">
                        <!--<mat-option [value]="attorney" *ngFor="let attorney of user">{{attorney.firstName}}</mat-option>-->
                        <mat-option value="TBG-IN">TBG-IN</mat-option>
                        <mat-option value="TBG-FINAL">TBG-FINAL</mat-option>
                        <mat-option value="ARB">ARB</mat-option>
                        <mat-option value="CLOSED">CLOSED</mat-option>
                    </mat-select>
        </mat-form-field>
        <mat-form-field class="col-3">
            <mat-select [compareWith]="compareFn" placeholder="Select attorney" formControlName="attorney"
            [(ngModel)]="attorney">
            <mat-option [value]="attorney" *ngFor="let attorney of user">{{attorney?.firstName}}</mat-option>
        </mat-select>
    </mat-form-field>
          </div>
        
          <div class="row">
            <mat-form-field class="col-3">
                <input matInput [matDatepicker]="FROMdate" (focus)="FROMdate.open()" placeholder="Select from Date"
                [(ngModel)]="fromDate" (dateChange)="fromDateChange($event)">
            <mat-datepicker-toggle matSuffix [for]="FROMdate"></mat-datepicker-toggle>
            <mat-datepicker #FROMdate></mat-datepicker>
            </mat-form-field>
            <!--  <button mat-raised-button id="goBtn" class="primaryColor" (click)="applyFilter()">Go</button>-->
            <mat-form-field class="col-3">
                <input matInput [matDatepicker]="TOdate" (focus)="TOdate.open()" placeholder="Select to Date"
                [(ngModel)]="toDate" (dateChange)="toDateChange($event)">
            <mat-datepicker-toggle matSuffix [for]="TOdate"></mat-datepicker-toggle>
            <mat-datepicker #TOdate></mat-datepicker>
            </mat-form-field>
            
            <button mat-raised-button class="primaryColor" style="height: 100%;" (click)="submitSearchReport()">Submit</button>
          </div>
            </div>

          <!--</div>-->
          <br>
          <table #table mat-table [dataSource]="dataSource" MatPaginator matSort >

              <ng-container matColumnDef="patientId">
                <th mat-header-cell *matHeaderCellDef mat-sort-header >Patient ID </th>
                <td mat-cell *matCellDef="let patient"> {{patient.patientCode}} </td>
              </ng-container>
          
              <ng-container matColumnDef="Name"  >
                <th mat-header-cell *matHeaderCellDef mat-sort-header > Name </th>
                <td mat-cell *matCellDef="let patient"> {{patient.firstName}} {{patient.lastName}} </td>
              </ng-container>
          
              <ng-container matColumnDef="attorney">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Attorney </th>
                <td mat-cell *matCellDef="let patient"> {{patient.attorneyFirstName}} {{patient.attorneyLastName}} </td>
              </ng-container>
          
                <ng-container matColumnDef="claimNo">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> Claim No </th>
                  <td mat-cell *matCellDef="let patient"> {{patient.primaryInsClaimNo}} , {{patient.secInsClaimNo }} </td>
              </ng-container>

              <ng-container matColumnDef="policyNo">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Policy No </th>
                    <td mat-cell *matCellDef="let patient"> {{patient.primaryInsPolicyNo}} , {{patient.secInsPolicyNo }} </td>
              </ng-container>

              <ng-container matColumnDef="doa">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> DOA </th>
                  <td mat-cell *matCellDef="let patient"> {{patient.doa}} </td>
              </ng-container>

              <ng-container matColumnDef="doctor">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Provider </th>
                <td mat-cell *matCellDef="let patient"> {{patient.practiceCode}} </td>
              </ng-container> 
          
              <ng-container matColumnDef="Tasks">
                  <th mat-header-cell  *matHeaderCellDef> Tasks </th>
                  <td class="text-left" mat-cell *matCellDef="let patient">
                      <div class="dropdown">
                          <a href="#" class="action-icon dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="fa fa-ellipsis-v"></i></a>
                          <ul class="dropdown-menu pull-right">
                            <li><a (click)="deletePatient(patient.patientId)" title="Delete"><i class="fa fa-trash-o m-r-5"></i> Delete</a></li> -->
                            <li><a (click)="navigateDosPage(patient.patientCode,patient.practiceCode)" title="DOS"><i class="fa fa-cog m-r-5"></i>Date Of Service</a></li>
                          </ul>
                      </div>
                  </td>
                </ng-container>
          
              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
            <mat-paginator [pageSizeOptions]="[ 5, 10, 20]" showFirstLastButtons></mat-paginator>
          </div>
          </div>
</div>
</div>
</div>
</div>
<app-loader *ngIf="loader"></app-loader>
</div>


