<app-navbar></app-navbar>

  <div class="page-wrapper">
      <div *ngIf="!loader" class="content container-fluid">
      <div class="row">
      <div class="col-md-12">
      <div class="panel panel-table">
        <div class="panel-heading">
            <div class="row topTier">
                <h3 id="sectionalHeader" >Patients</h3>
              <div class="sectionalInput">
            
                <mat-form-field>
                  <mat-select placeholder="Select Practice"   [(ngModel)]="practice" >
                      <mat-option value="{{practice.id}}" *ngFor="let practice of newpractice">{{practice.practiceName}}</mat-option>
                </mat-select>              
              </mat-form-field>
            
                <!-- <mat-form-field >
                  <input matInput [(ngModel)]="searchString" placeholder="Search Patient">
                </mat-form-field> -->
                <button mat-raised-button class="primaryColor" (click)="searchingString()" id="save">Search Patient</button>&nbsp;
                  <button mat-raised-button class="primaryColor" routerLink="/mdmuser" id="save">Add Patient</button>
              </div>
              </div>
        </div>

  <div class="panel-body">
      <div class="table-responsive">
  <table #table mat-table [dataSource]="dataSource" MatPaginator matSort >

    <!-- Practice Name Column -->
    <ng-container matColumnDef="patientId">
      <th mat-header-cell *matHeaderCellDef mat-sort-header >Patient ID </th>
      <td mat-cell *matCellDef="let patient"> {{patient.patientCode}} </td>
    </ng-container>

    <!-- Practice Name Column -->
    <ng-container matColumnDef="Name"  >
      <th mat-header-cell *matHeaderCellDef mat-sort-header > Name </th>
      <td mat-cell *matCellDef="let patient"> {{patient.firstName}} {{patient.lastName}} </td>
    </ng-container>

    <!-- Practice Name Column -->
    <!-- <ng-container matColumnDef="Age"  >
      <th mat-header-cell *matHeaderCellDef mat-sort-header > Age </th>
      <td mat-cell *matCellDef="let patient"> {{patient.age}}</td>
    </ng-container> -->

    <!-- Practice Name Column -->
    <!-- <ng-container matColumnDef="gender"  >
      <th mat-header-cell *matHeaderCellDef mat-sort-header > Gender </th>
      <td mat-cell *matCellDef="let patient"> {{patient.gender}}</td>
    </ng-container> -->

    <!-- Practice Name Column -->
    <!-- <ng-container matColumnDef="phone"  >
      <th mat-header-cell *matHeaderCellDef mat-sort-header > Phone </th>
      <td mat-cell *matCellDef="let patient"> {{patient.homePhone}}</td>
    </ng-container> -->
    
    <!-- City Column -->
    <!-- <ng-container matColumnDef="Practice">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Practice </th>
      <td mat-cell *matCellDef="let patient"> {{patient.practice}} </td>
    </ng-container> -->

    <!-- City Column -->
    <!-- <ng-container matColumnDef="dob">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> DOB </th>
      <td mat-cell *matCellDef="let patient"> {{patient.dob | date :'mediumDate' }} </td>
    </ng-container> -->

     <!-- City Column 
    <ng-container matColumnDef="doctor">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Doctor </th>
      <td mat-cell *matCellDef="let patient"> {{patient.doctor}} </td>
    </ng-container>-->

    
    <ng-container matColumnDef="attorney">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Attorney </th>
      <td mat-cell *matCellDef="let patient"> {{patient.attorneyFirstName}} {{patient.attorneyLastName}} </td>
    </ng-container>

      <ng-container matColumnDef="claimNo">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Claim No </th>
        <td mat-cell *matCellDef="let patient"> {{patient.primaryInsClaimNo}} , {{patient.secInsClaimNo }} </td>
    </ng-container>
    <ng-container matColumnDef="policyNo">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Policy No </th>
          <td mat-cell *matCellDef="let patient"> {{patient.primaryInsPolicyNo}} , {{patient.secInsPolicyNo }} </td>
    </ng-container>
    <ng-container matColumnDef="doa">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> DOA </th>
        <td mat-cell *matCellDef="let patient"> {{patient.doa}} </td>
    </ng-container>
    <ng-container matColumnDef="doctor">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Provider </th>
      <td mat-cell *matCellDef="let patient"> {{patient.practiceCode}} </td>
    </ng-container> 

    <!-- <ng-container matColumnDef="Tasks">
      <th mat-header-cell  *matHeaderCellDef> Tasks </th>
      <td  mat-cell *matCellDef="let patient"> 
        <button mat-raised-button class="primaryColor" (click)="openEditPatientDialog(patient.patientId)" >Edit</button> 
         <button mat-raised-button class="dangerColor" (click)="deletePatient(patient.patientId)">Delete</button>|
         <button mat-raised-button class="infoColor" [routerLink]="['/patient/documents/',patient.patientId]">DOS</button>|
         <button mat-raised-button class="primaryColor">Demographic</button>|
         <button mat-raised-button class="infoColor">Coversheet</button>
          </td>
    </ng-container> -->

    <ng-container matColumnDef="Tasks">
        <th mat-header-cell  *matHeaderCellDef> Tasks </th>
        <td class="text-left" mat-cell *matCellDef="let patient">
            <div class="dropdown">
                <a href="#" class="action-icon dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="fa fa-ellipsis-v"></i></a>
                <ul class="dropdown-menu pull-right">
                  <li><a (click)="openEditPatientDialog(patient)"  title="Edit"><i class="fa fa-pencil m-r-5"></i> Edit</a></li>
                  <!-- <li><a (click)="deletePatient(patient.patientId)" title="Delete"><i class="fa fa-trash-o m-r-5"></i> Delete</a></li> -->
                  <li><a (click)="navigateDosPage(patient.patientCode,patient.practiceCode)" title="DOS"><i class="fa fa-cog m-r-5"></i>Date Of Service</a></li>
                  <!-- <li><a title="Demographic" (click)="demographicCode(patient.patientCode,patient.practiceCode)"><i class="fa fa-codepen m-r-5"></i>Demographic</a></li>
                  <li><a title="Coversheet"><i class="fa fa-file-text m-r-5" aria-hidden="true"></i>Coversheet</a></li> -->
                    </ul>
            </div>
        </td>
      </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  <mat-paginator [pageSizeOptions]="[ 5, 10, 20]" showFirstLastButtons></mat-paginator>
  </div>
  </div>
</div>
</div>
</div>
</div>
<app-loader *ngIf="loader"></app-loader>
</div>

