body{
    padding-left: 10px;
    padding-right: 10px;
}

.Menu{
    margin: -40px -40px 10px -40px;
    /* background-color: rgb(60, 60, 60); */
}



mat-toolbar{
    background-color: #acd4e1;
    color: black;
}

#logOut{
    background-color: azure;
}

mat-toolbar-row img{
    height: 64px;
}

mat-toolbar-row .mat-button{
    font-size: 16px;
}

.navbarUserbtn{
    margin-left: auto;
}

.navbarUserbtn button{
    margin: 5px;
}

#logoName{
    color: black;
    font-weight: bold;
    margin-right: 8px;
}

.topTier{
    margin-right: 0px;
    margin-left: 0px; 
    color: accent;
}

#sectionalHeader{
    padding-top: 10px;
    padding-left: 10px;
    float: left;
}

.sectionalInput{
    margin-left: auto;
}


.mat-table{
    width: 100%;
    /* background-color: white; */
}

th{
    font-weight: bold;
    font-size: 14px;
}

/* mat-paginator{
    background-color: white;
} */
