/* You can add global styles to this file, and also import other style files */
/* @import '~node_modules/@angular/material/prebuilt-themes/deeppurple-amber.css';
@import "~bootstrap/dist/css/bootstrap.css"; */
@import '../node_modules/@angular/material/prebuilt-themes/deeppurple-amber.css';
/*@import "~bootstrap/dist/css/bootstrap.css";*/






.containerWidth{
    width: 90% !important;
    margin-left: 20% !important;
    margin-right: 5% !important;
    border-radius: 14px !important;
    margin-top: 6% !important; 
}
.primaryColor{
    display: inline-block !important;
    padding: 1px 20px !important;
	border-radius: 25px !important;
    text-decoration: none !important;
    color: #FFF !important;
    background-image: -webkit-linear-gradient(45deg, #457fca 0%, #5691c8 100%) !important;
    background-image: linear-gradient(45deg, #457fca 0%, #5691c8 100%) !important;
    transition: .4s;
}
.primaryColor:hover {
    background-image: -webkit-linear-gradient(45deg, #3a7bd5 0%, #3a6073 100%) !important;
    background-image: linear-gradient(45deg, #3a7bd5 0%, #3a6073 100%) !important;
}
.dropdown-menu>li>a:focus, .dropdown-menu>li>a:hover {
    color: white !important;
    background-color: #43cea2 !important;
}
.dangerColor{
    background-color: #e12e28 !important;
    color:#FFFFFF !important;
    border-color:#2e6da4 !important;
    border-radius: 7px !important;
    display: inline-block !important;
    padding: 1px 20px !important;
	border-radius: 25px !important;
    text-decoration: none !important;
    color: #FFF !important;
    transition: .4s;
}


.warningColor{
    background-color: #df890d !important;
    color:#FFFFFF !important;
    border-color:#2e6da4 !important;
    border-radius: 7px !important
}

.matCardBorder{
    border-radius: 15px !important;
}


.infoColor{
    background-color: #0fb1e1 !important;
    color:#FFFFFF !important;
    border-color:#2e6da4 !important;
    border-radius: 7px !important
}

.successColor{
    background-color: #399d39 !important;
    color:#FFFFFF !important;
    border-color:#2e6da4 !important;
    border-radius: 7px !important
}
.defaultColor{
    background-color: #FFFFFF !important;
    color:#000000 !important;
    border-color:#2e6da4 !important;
    border-radius: 7px !important
}
.addPracticeForm .mat-dialog-container {
    width: 400px !important;
    border-radius: 14px !important;
}

.marginTopFile{
    margin-top:0% !important;
    /* background: linear-gradient(to right, #43cea2, #185a9d); */
     padding: 18px 15px;
     color: gray;
}
.mat-raised-button {
    /* background-color: #b5ac49 !important */
}

.assignAttorney .mat-dialog-container {
    width: 700px !important;
    border-radius: 14px !important;
}

.assignAttorney .mat-card {
    width: 600px !important;
    border-radius: 14px !important;
    align-content: center;
}


.mat-dialog-container {
        box-shadow: 0 11px 15px -7px rgba(0,0,0,.2), 0 24px 38px 3px rgba(0,0,0,.14), 0 9px 46px 8px rgba(0,0,0,.12);
       display: block;
       padding: 24px;
       border: 1px solid #3ca55c;
        box-sizing: border-box;
        overflow: auto;
        outline: 0;
        width: 100% !important;
        height: 100%;
        min-height: inherit;
        max-height: inherit;
        border-radius: 14px !important;
        margin-top: 80px !important;
    }

.classright2per{
    padding-left:2%;
}
.paddingleft1per{
    padding-left:1%;
}
.whiteBGColor{
    background-color:#FFFFFF;
}
.bordertop{
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}
.mat-elevation-z8{
    box-shadow: 0 1px 1px -3px rgba(0,0,0,.2), 0 1px 1px 1px rgba(0,0,0,.14), 0 1px 1px 1px rgba(0,0,0,.12) !important;
    border: 1px solid #43cea2;
    border-radius: 8px;
}
/* css for the add/edit practice dialog starts from here*/
.addPracticeForm .mat-dialog-container{
    width: 400px;
}

.addPracticeForm .mat-dialog-container .ng-star-inserted .mat-dialog-content{
    display: grid !important;
    margin: 0px !important;
}
/*.assignAttorney .mat-dialog-container .ng-star-inserted .mat-dialog-content{
    display: grid !important;
    margin: 0px !important;
}*/

.addPracticeForm .mat-dialog-container .ng-star-inserted .mat-dialog-content .idField{
    display: none !important;

}

.addPracticeForm .mat-dialog-container .ng-star-inserted .mat-dialog-actions #saveBtn{
    background-color: azure;
}

/* css for the add/edit practice dialog ends here*/

.addUserForm .mat-dialog-container{
    width: 400px !important;
}

.addUserForm .mat-dialog-container .ng-star-inserted .mat-dialog-content{
    display: grid !important;
    margin: 0px !important;
}

.addUserForm .mat-dialog-container .ng-star-inserted .mat-dialog-content .idField{
    display: none !important;

}

.addUserForm .mat-dialog-container .ng-star-inserted .mat-dialog-actions #saveBtn{
    background-color: azure;
}

.editPatientForm mat-card-header {
    
        background: #acd4e1;
        margin-left: -16px;
        margin-right: -16px;
        margin-bottom: 0px;
}

.editPatientForm .mat-dialog-container .ng-star-inserted .mat-dialog-content .idField{
    display: none !important;

}

.editpatientForm .mat-dialog-container .ng-star-inserted .mat-dialog-actions #saveBtn{
    background-color: azure;
}

.editPatientForm .row {
    margin-top: 4px;
}

.editPatientForm mat-card {
    padding-top: 0px;
}


.pages .mat-select-trigger{
    padding-top: 14px;
}

.pages .mat-input-element {
    caret-color: #43cea2;
}

/* this is for mobile screens*/
@media only screen and (max-width: 600px) {
    
    body{
        background-color: #e9ecef;
        margin: 0;
    }

}


/* this is for tablet screens*/
@media only screen and (min-width:601px) and (max-width: 768px)  {

    body{
        background-color: #e9ecef;
        margin: 0;
    }

}

/* this is for full hd tablet screens*/
@media only screen and (min-width:769px) and (max-width: 1024px) {
    body{
        background-color: #e9ecef;
        margin: 0;
    }

}

/* this is for desktop screens*/
@media only screen and (min-width: 1025px) {

    body{
        /* background-color: #e9ecef; */
        margin: 0;
    }

}

.inner-content{
    position: absolute;
    bottom: 0;
    left: 0;
  }

.fa-bars-fa{
    color:white !important;
    font-size:2rem;
}

/* table{
    background-color: white;
}

.table td{
    background-color: white;
} */
.fa-bars-fa{
        color:white !important;
       font-size:2rem;
}
